<div class="container animate__animated"
  [ngClass]="{'animate__fadeOut': isFadeOut === true, ' animate__fadeIn': isFadeOut===false}">
  <div class="timeline">
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide slide-0" data-year="Present">
          <div class="swiper-slide-content"><span class="timeline-year">2022-Present</span>
            <h4 class="timeline-title">Spatial Front</h4>
            <p class="timeline-text"><b class="sub-title">Front-End Engineer</b></p>
            <p class="timeline-text">
              <mat-card>
                <mat-card-content>
                  <p>
                    Working in an Agile environment, I am contracted by the Census-Bureau to work on a
                    form/table-based Web Application following a migration from AngularJS, to Angular2+.
                    <br><br>
                    My workload is ticket-based (JIRA), and involves interacting with a Product Owner, Business
                    Analysts,
                    Testers, and peer
                    Developers in the process of finishing my requirement-based tasks within a 3-week span. Using GitLab
                    as a
                    Version Source Control, tasks were developed in a Feature branch environment, and merged in after
                    peer-review via Pull request.
                    <br><br>
                    The residue of the framework migration has challenged me to enforce and
                    improve best-practices ranging from Software Architecture, Design-Patterns (I.E. Singleton), and
                    even
                    Code-Readability.
                  </p>
                  <mat-chip-list fxLayout="row" fxLayoutAlign="center center">
                    <mat-chip class="mat-elevation-z10">Angular 2+</mat-chip>
                    <mat-chip class="mat-elevation-z10">Spring Boot</mat-chip>
                    <mat-chip class="mat-elevation-z10">Jira</mat-chip>
                    <mat-chip class="mat-elevation-z10">Toad</mat-chip>
                    <mat-chip class="mat-elevation-z10">PHP</mat-chip>
                    <mat-chip class="mat-elevation-z10">Git-Lab</mat-chip>
                  </mat-chip-list>
                </mat-card-content>
              </mat-card>
            </p>
          </div>
        </div>
        <div class="swiper-slide slide-1" data-year="2021">
          <div class="swiper-slide-content"><span class="timeline-year">2021-2022</span>
            <h4 class="timeline-title">REI Systems</h4>
            <p class="timeline-text"><b class="sub-title">Full-Stack Software Engineer</b></p>
            <p class="timeline-text">
              <mat-card>
                <mat-card-content>
                  <p>
                    Worked within an Agile (Scrum) environment with 2-week sprints. Developed Web
                    applications through multiple environments and developmental phases beginning with Mockups and
                    Wireframes
                    to Production. Pull-Requests were engaged in conjunction with a peer-review.
                    <br /><br /> Engaged in responsibilities,
                    including:
                    <br />
                    • Heavy collaboration with team designer and business analyst
                    <br />
                    • Front-end Web development (form-based) primarily using Angular, Angular Material, and reusable NPM
                    libraries.
                    <br />
                    &nbsp;&nbsp;&nbsp; -Mainly focused on implementing business use-cases via mockup-diagrams
                    <br />
                    • Creating Rest-APIs for back-end calls
                    <br />
                    • Utilizing Jenkins and other Dev-Ops tools
                    <br />
                    • Presenting “Demos” for contracting clients (FEMA) at the conclusion of every sprint
                    <br />
                    • Composing BDD Test Cases (Cucumber-Serenity)
                    <br />
                    &nbsp; -Automated Testing Framework embedded within Intelli-J to test business use cases derived
                    from
                    pre-existing Acceptance
                    <br />
                    • Criteria specified in corresponding Jira Tickets
                  </p>
                  <mat-chip-list fxLayout="row" fxLayoutAlign="center center">
                    <mat-chip class="mat-elevation-z10">Angular 2+</mat-chip>
                    <mat-chip class="mat-elevation-z10">Spring Boot</mat-chip>
                    <mat-chip class="mat-elevation-z10">PSQL</mat-chip>
                    <mat-chip class="mat-elevation-z10">Jira</mat-chip>
                    <mat-chip class="mat-elevation-z10">Microsoft Active Directory</mat-chip>
                    <mat-chip class="mat-elevation-z10">Azure</mat-chip>
                    <mat-chip class="mat-elevation-z10">AWS</mat-chip>
                    <mat-chip class="mat-elevation-z10">Jenkins</mat-chip>
                    <mat-chip class="mat-elevation-z10">BDD Cucumber Serenity</mat-chip>
                    <mat-chip class="mat-elevation-z10">Git-Hub</mat-chip>
                  </mat-chip-list>
                </mat-card-content>
              </mat-card>
            </p>
          </div>
        </div>
        <div class="swiper-slide slide-2" data-year="2020">
          <div class="swiper-slide-content"><span class="timeline-year">2020</span>
            <h4 class="timeline-title">Capital One</h4>
            <p class="timeline-text"><b class="sub-title">Software Engineer</b>
            <p class="timeline-text">
              <mat-card>
                <mat-card-content>
                  <p>
                    Worked on Capital One reactive and marketing reward based credit card upgrades.
                    <br /><br />
                    • Responsibilities include: Tearing down and re-provisioning clusters in Jenkins and AWS, migrating
                    database script and Scala logic, creating generic email templates, creating a workflow feature in a
                    dashboard with Angular Material
                    • Create features for analytics control panel (via Angular) which displays metrics, monitoring, and
                    control switches for our platform
                    • Utilized EMR to spin up ECS clusters via command line and Databricks to run spark-based Scala
                    queries to
                    analyze big data
                    • All Jira stories eventually deployed and released to production from Dev/QA environments
                    • CI/CD pipeline testing and deployments within all environments via Jenkin jobs
                    • Junit and Karma testing for Angular and Spring
                    • Debug no-SQL data in QA and Prod via Sphinx CLI
                    <br /><br />
                    <mat-chip-list fxLayout="row" fxLayoutAlign="center center">
                      <mat-chip class="mat-elevation-z10">Angular 2+</mat-chip>
                      <mat-chip class="mat-elevation-z10">Spring Boot</mat-chip>
                      <mat-chip class="mat-elevation-z10">PSQL</mat-chip>
                      <mat-chip class="mat-elevation-z10">Jira</mat-chip>
                      <mat-chip class="mat-elevation-z10">Spark</mat-chip>
                      <mat-chip class="mat-elevation-z10">MongoDB</mat-chip>
                      <mat-chip class="mat-elevation-z10">Linux</mat-chip>
                      <mat-chip class="mat-elevation-z10">Kibana</mat-chip>
                      <mat-chip class="mat-elevation-z10">Erato-code</mat-chip>
                      <mat-chip class="mat-elevation-z10">Sphinx</mat-chip>
                      <mat-chip class="mat-elevation-z10">Docker</mat-chip>
                      <mat-chip class="mat-elevation-z10">AWS (S3, ECS, EC2, EMR, IAM, SG, VPC)</mat-chip>
                      <mat-chip class="mat-elevation-z10">Jenkins</mat-chip>
                      <mat-chip class="mat-elevation-z10">BDD Cucumber Serenity</mat-chip>
                      <mat-chip class="mat-elevation-z10">Git-Hub</mat-chip>
                      <mat-chip class="mat-elevation-z10">Slack</mat-chip>
                    </mat-chip-list>
                </mat-card-content>
              </mat-card>
            </p>
          </div>
        </div>
        <div class="swiper-slide slide-3" data-year="2019">
          <div class="swiper-slide-content"><span class="timeline-year">2019</span>
            <h4 class="timeline-title">Base2Technologies</h4>
            <p class="timeline-text"><b class="sub-title">Java Developer</b>
            <p class="timeline-text">
              <mat-card>
                <mat-card-content>
                  <p>
                    Java Development for DOJ’s Asset Forfeiture Website. Waterfall/agile hybrid
                    methodology. Work requests required collaboration with Business Analysts via requirements docs.
                    <br /><br />
                    Responsibilities included: Coding, Testing, Defects, and Peer Code Reviews.
                  </p>
                  <mat-chip-list fxLayout="row" fxLayoutAlign="center center">
                    <mat-chip class="mat-elevation-z10">Wicket</mat-chip>
                    <mat-chip class="mat-elevation-z10">Spring Boot</mat-chip>
                    <mat-chip class="mat-elevation-z10">Hibernate</mat-chip>
                    <mat-chip class="mat-elevation-z10">WebSphere</mat-chip>
                    <mat-chip class="mat-elevation-z10">Clear Case</mat-chip>
                    <mat-chip class="mat-elevation-z10">Clear Quest</mat-chip>
                    <mat-chip class="mat-elevation-z10">AWS</mat-chip>
                    <mat-chip class="mat-elevation-z10">Jenkins</mat-chip>
                    <mat-chip class="mat-elevation-z10">BDD Cucumber Serenity</mat-chip>
                    <mat-chip class="mat-elevation-z10">Git-Hub</mat-chip>
                  </mat-chip-list>
                </mat-card-content>
              </mat-card>
          </div>
        </div>
        <div class="swiper-slide slide-4" data-year="2018">
          <div class="swiper-slide-content"><span class="timeline-year">2018</span>
            <h4 class="timeline-title">AINS</h4>
            <p class="timeline-text"><b class="sub-title">Applications Developer</b></p>
            <p class="timeline-text">
              <mat-card>
                <mat-card-content>
                  <p>
                    Application development for proprietary software within Case Management Web sites. Agile (Scrum)
                    environment. Worked under the supervision of a Senior Developer. Application development for
                    proprietary software within Case Management Web sites. Agile (Scrum) environment. Worked under the
                    supervision of a Senior Developer.
                  </p>
                  <mat-chip-list fxLayout="row" fxLayoutAlign="center center">
                    <mat-chip class="mat-elevation-z10">ASP.Net</mat-chip>
                    <mat-chip class="mat-elevation-z10">IIS</mat-chip>
                    <mat-chip class="mat-elevation-z10">Hibernate</mat-chip>
                    <mat-chip class="mat-elevation-z10">SQL Server</mat-chip>
                    <mat-chip class="mat-elevation-z10">Visual Studios</mat-chip>
                    <mat-chip class="mat-elevation-z10">Windows</mat-chip>
                  </mat-chip-list>
                </mat-card-content>
              </mat-card>
          </div>
        </div>
        <div class="swiper-slide slide-5" data-year="2017">
          <div class="swiper-slide-content"><span class="timeline-year">2015</span>
            <h4 class="timeline-title">Wayne State University</h4>
            <p class="timeline-text"><b class="sub-title">Bachelor's in Science</b>
              <mat-card>
                <mat-card-content>
                  <p class="timeline-text">
                    <u>Curriculum:</u> Data Structures, Algorithms,
                    DataBases, Calculus 1-2, Probability and Statistics,
                    Linear Algebra, Software Engineering, Operating Systems, Capstop Senior Project
                  </p>
                  <p class="timeline-text"><u>Languages:</u> C++, C, Java, SQL</p>
                </mat-card-content>
              </mat-card>
          </div>
        </div>
        <div class="swiper-slide slide-6" data-year="2010">
          <div class="swiper-slide-content"><span class="timeline-year">2010</span>
            <h4 class="timeline-title">Mannes College for Music</h4>
            <p class="timeline-text"><b class="sub-title">Master's of Music</b>
              <mat-card>
                <mat-card-content>
                  <p class="timeline-text"><u>Curriculum:</u> Orchestra, Music Theory, Music History,
                    Symphonic Literature
                  </p>
                  <p class="timeline-text"><u>Teacher:</u> Steve Williamson (Metropolitan Opera,/Chicago Symphony)</p>
                </mat-card-content>
              </mat-card>
          </div>
        </div>
        <div class="swiper-slide slide-7" data-year="2005">
          <div class="swiper-slide-content"><span class="timeline-year">2005</span>
            <h4 class="timeline-title">Cleveland Institute of Music</h4>
            <p class="timeline-text"><b class="sub-title">Bachelor's in Music</b>
              <mat-card>
                <mat-card-content>
                  <p class="timeline-text">
                    <u>Curriculum:</u> Orchestra, Conducting, Music Theory,
                    Music History, Form and Analysis, Counterpoint,
                    Symphonic Literature, Jazz and
                    American Popular Music
                  </p>
                  <p class="timeline-text"><u>Teacher:</u> Dan Gilbert (Cleveland Orchestra)</p>
                </mat-card-content>
              </mat-card>
          </div>
        </div>
      </div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</div>
