<div class="container animate__animated animate__fadeIn">
  <div class="timeline">
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide slide-1" data-year="Present">
          <div class="swiper-slide-content"><span class="timeline-year">Present</span>
            <h4 class="timeline-title">REI Systems</h4>
            <p class="timeline-text"><b class="sub-title">Full-Stack Software Engineer</b></p>
            <p class="timeline-text"> Femadex is a cloud-based enterprise data analytics system that
              will enhance FEMA’s ability to ingest, integrate, analyze,
              transform, and disseminate data. This system will replace
              FEMA’s existing Enterprise Data Warehouse and will provide a
              rapidly scalable solution for enterprise data analysis, data lake
              storage and reporting that will help drive data-driven decisions.
              <br><br>
              As a Reactive Form-based Web application utilizing
              Microservices with Angular/Spring Frameworks, the front-end
              architecture implements reusable NPM libraries similar to a
              shared module. Micro-services are managed on the backend
              using Spring Boot and multiple Data Sources (i.e. CKAN) using
              Hibernate.
              <br>
            </p>
          </div>
        </div>
        <div class="swiper-slide slide-2" data-year="2020">
          <div class="swiper-slide-content"><span class="timeline-year">2020</span>
            <h4 class="timeline-title">Capital One</h4>
            <p class="timeline-text"><b class="sub-title">Software Engineer</b>
            <p class="timeline-text">Developed and maintained Spring Boot based microservices to
              enable customers to upgrade from non-rewards cards to
              rewards cards within an Agile environment. Developed and maintained new features to a
              Scala/Spark-based
              marketing
              campaign targeting customers to upgrade credit cards through interstitial, direct-mail, and email
              channels. Created
              features for analytics control panel (via Angular) which displays metrics, monitoring, and control
              switches for our
              platform.</p>
          </div>
        </div>
        <div class="swiper-slide slide-3" data-year="2019">
          <div class="swiper-slide-content"><span class="timeline-year">2019</span>
            <h4 class="timeline-title">Base2Technologies</h4>
            <p class="timeline-text"><b class="sub-title">Java Developer</b>
            <p class="timeline-text">Java Development for DOJ’s Asset Forfeiture website.
              Waterfall/agile hybrid methodology. Work requests required
              collaboration with Business Analysts via requirements docs. Responsibilities included coding, testing,
              defects, and
              peer-code-reviews.</p>
          </div>
        </div>
        <div class="swiper-slide slide-4" data-year="2018">
          <div class="swiper-slide-content"><span class="timeline-year">2018</span>
            <h4 class="timeline-title">AINS</h4>
            <p class="timeline-text"><b class="sub-title">Applications Developer</b></p>
            <p class="timeline-text">Application development for proprietary software
              (eCASE)
              within Case Management websites. Agile (Scrum)
              environment.
              Reported to a Project Manager and worked under the supervision of a Senior Developer. Clients were
              serviced once the
              project went into production including platform installations, debugging, and misc. services.</p>
          </div>
        </div>
        <div class="swiper-slide slide-5" data-year="2017">
          <div class="swiper-slide-content"><span class="timeline-year">2015</span>
            <h4 class="timeline-title">Wayne State University</h4>
            <p class="timeline-text"><b class="sub-title">Bachelor's in Science</b>
            <p class="timeline-text"><u>Curriculum:</u> Data Structures, Algorithms,
              DataBases, Calculus 1-2, Probability and Statistics,
              Linear Algebra, Software Engineering, Operating Systems, Capstop Senior Project
            </p>
            <p class="timeline-text"><u>Languages:</u> C++, C, Java, SQL</p>
          </div>
        </div>
        <div class="swiper-slide slide-6" data-year="2010">
          <div class="swiper-slide-content"><span class="timeline-year">2010</span>
            <h4 class="timeline-title">Mannes College for Music</h4>
            <p class="timeline-text"><b class="sub-title">Master's of Music</b>
            <p class="timeline-text"><u>Curriculum:</u> Orchestra, Music Theory, Music History,
              Symphonic Literature
            </p>
            <p class="timeline-text"><u>Teacher:</u> Steve Williamson (Metropolitan Opera,/Chicago Symphony)</p>
          </div>
        </div>
        <div class="swiper-slide slide-7" data-year="2005">
          <div class="swiper-slide-content"><span class="timeline-year">2005</span>
            <h4 class="timeline-title">Cleveland Institute of Music</h4>
            <p class="timeline-text"><b class="sub-title">Bachelor's in Music</b>
            <p class="timeline-text"><u>Curriculum:</u> Orchestra, Conducting, Music Theory,
              Music History, Form and Analysis, Counterpoint,
              Symphonic Literature, Jazz and
              American Popular Music
            </p>
            <p class="timeline-text"><u>Teacher:</u> Dan Gilbert (Cleveland Orchestra)</p>
          </div>
        </div>
      </div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</div>
