section#project-section {
  background-image: url("../../../assets/img/bg/bg-project.jpg");
  background-size: cover;
  height: 95vh;
  top: 0;
}


.mat-card-header {
  justify-content: center;
}

.mat-card-subtitle {
  justify-content: center;
}

p {
  text-align: justify;
}

/* Styles for the active tab label */
#projectTabGroup .mat-tab-labels,
#projectTabGroup .mat-tab-label.mat-tab-label-active,
#projectTabGroup .mat-tab-group,
#projectTabGroup .mat-tab-label,
#projectTabGroup .mat-tab-header,
#projectTabGroup .mat-tab-label-container,
#projectTabGroup .mat-tab-list {
  background-color: transparent !important;
  color: black;
}

#projectTabGroup {
  margin-top: 6rem;
}

.mat-card-header {
  text-align: center;
}

.mat-card-header .mat-card-subtitle {
  font-weight: 475;
  font-family: "Oswald", sans-serif;
}

p {
  font-family: "Source Sans Pro", sans-serif;
}

.mat-tab-body-content {
  overflow: hidden !important;
}

.mat-tab-label.inner-tabs .mat-tab-label-content {
  color: black;
  font-weight: 800;
}

div.image-link,
a {
  color: blue;
  text-align: center;
  font-weight: 800;
}

a {
  cursor: pointer;
}

#project-section h1 {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}

mat-card.project-card {
  width: 40%;
  height: auto;
  margin-top: 10vh;
}

#img-s3fs {
  width: 20vw;
  margin: 0 auto;
}

.poster {
  width: 50vw;
}

#projectTabGroup .hidden-tab-group .mat-tab-header {
  display: none;
}

#projectTabGroup .hidden-tab-group {
  min-width: 100%;
}

iframe#stackBlitzProject {
  width: 75%;
  min-height: 35vw;
  margin-top: 4rem;
}

.toggle-text {
  font-style: oblique;
  color: black;
  font-weight: 400;
}


@media only screen and (max-width: 719px) {
  mat-tab-group {
    margin-top: 4vw;
  }

  mat-tabs .mat-tab-label {
    width: 60px !important;
  }

  mat-card.project-card {
    width: 90%;
    height: 70%;
    max-width: 550px;
    margin: 2vw auto;
    margin-top: 10vh;
  }
}

@media only screen and (min-width: 2000px) {
  mat-card {
    min-width: 675px;
  }
}

@media only screen and (max-width: 599px) {
  .mat-tab-label .mat-tab-label-content {
    font-size: 0.75rem;
  }

  #projectTabGroup {
    margin-top: 3rem;
  }

  iframe#stackBlitzProject {
    width: 85%;
    min-height: 57vh;
    margin-top: 1rem;
  }

  .poster {
    width: 95vw;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1023px) {
  iframe#stackBlitzProject {
    width: 90%;
    min-height: 65vh;
  }

  .poster {
    width: 95vw;
  }
}

@media only screen and (min-width: 1024px) {
  iframe#stackBlitzProject {
    width: 90%;
    min-height: 50vh;
    margin-top: 1rem;
  }

  .poster {
    width: 50vw;
  }
}

@media only screen and (min-width: 1500px) {
  .poster {
    width: 45vw;
  }
}