<body class="welcome">
  <span id="splash-overlay" class="splash"></span>
  <span id="welcome" class="z-depth-4"></span>


  <header class="navbar-fixed">
    <mat-toolbar color="primary">
      <div class="header-wrapper" fxLayout="row" fxLayoutAlign="space-around center">
        <div (click)="navigateHome()">Home</div>
        <div (click)="navigateBackground()">Background</div>
        <div (click)="navigateProject()">Projects</div>
        <div (click)="navigatePrevVersion()">Versions</div>
      </div>
    </mat-toolbar>
  </header>
  <main class="valign-wrapper">
    <span class="container grey-text text-lighten-1 ">
      <main>
        <router-outlet></router-outlet>
      </main>
    </span>
  </main>
</body>
