/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Anton|Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");

:root {
  --yellow-color: #ffd65e;
  --dark-contrast: #1f2c30;
  --title-size: 10rem;
  --letter-spacing: 0.275rem;
  --title-line-height: 14vh;
  --logo-length: 8.5rem;
  --mobile-logo-length: 5rem;
  --yellow-border-width: 12vw;
  --mobile-border-width: 12vw;
  --horizontal-line-height: 1.22rem;
}

// Reset CSS
html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body,
.container,
.section {
  margin: 0;
  padding: 0;
  font-family: "Fauna One", serif;
}

/* Reset CSS */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h2,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
h5,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

//   End

section {
  height: 100vh;
  width: 100%;
}

.cy-logo {
  display: inline-block;
  height: var(--logo-length);
  width: var(--logo-length);
}

.shared-title {
  font-family: "Anton", sans-serif;
  font-size: var(--title-size);
  letter-spacing: var(--letter-spacing);
  line-height: var(--title-line-height);
}

hr {
  background: #f1e767;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f1e767 0%, #feb645 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #f1e767 0%, #feb645 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,
      #f1e767 0%,
      #feb645 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1e767', endColorstr='#feb645', GradientType=0);
  /* IE6-9 */
}

mat-card {
  color: whitesmoke !important;
  background: rgb(2, 0, 36) !important;
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(153, 0, 0, 1) 100%) !important;
  -webkit-box-shadow: 10px 10px 18px 0px rgba(0, 0, 0, 0.75) !important;
  -moz-box-shadow: 10px 10px 18px 0px rgba(0, 0, 0, 0.75) !important;
  box-shadow: 10px 10px 18px 0px rgba(0, 0, 0, 0.75) !important;
}

mat-card-subtitle {
  color: goldenrod !important;
}

.mat-tab-label .mat-tab-label-content {
  font-family: "Fauna One", serif;
  font-size: 20px;
}

div.nav-background ul,
header,
ul li {
  visibility: visible;
  opacity: 1;
}

.align-center {
  padding-left: 0;
}

.title h1 {
  font-size: 5.5rem;
  letter-spacing: 8px;
}

h1 {
  color: black;
  opacity: 0.4;
  font-family: "Oswald", sans-serif;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.mat-toolbar {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3) !important;
}

.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: #3F51B5;
  height: 3px;
  margin-bottom: 1vh;
}

div.background-body,
div.background-date {
  width: 50vw;
  margin: 0 auto;
}

h2.version-title {
  color: whitesmoke;
}

.mat-tab-labels {
  justify-content: center;
}

#version-tabs .mat-tab-header {
  display: none;
}

@media only screen and (max-width: 600px) {
  .mat-dialog-container {
    height: 85vh !important;
  }
}

@media only screen and (max-width: 600px) {
  hr {
    height: 0.5rem;
  }

  div.background-body,
  div.background-date {
    width: 75vw;
    margin: 0 auto;
    text-align: center;
  }
}